<ion-content>
    <form  #form="ngForm" (ngSubmit)="register(form)">
        <ion-grid>
            <ion-row>
                <ion-col size-md="6" size-lg="5" size-xs="12">
                    <div>
                        <h3>Create your account!</h3>
                    </div>
                    <div>
                        <ion-item>
                            <ion-input name="firstName" type="text" placeholder="First Name" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="middleName" type="text" placeholder="Middle Name" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="lastName" type="text" placeholder="Last Name" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="username" type="text" placeholder="Username" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
                        </ion-item>
                    </div>
                    <div>
                        <ion-button fill="outline" size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
