<ion-header>
  <ion-toolbar>
    <ion-title>
        <ion-icon routerLink="../../" name="arrow-back-outline"></ion-icon>
        My Requests
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <ion-item-group>
        <ion-label>
            My Requests:
        </ion-label>
        <ion-item>
            <ion-virtual-scroll *ngIf="userRequests?.length > 0" [items]="userRequests">
                <ion-item *virtualItem="let item;">
                    <ion-label>{{item.ownerUsername}}</ion-label>
                </ion-item>
            </ion-virtual-scroll>
            <ion-label *ngIf="!userRequests || userRequests?.length == 0">Nothing requests</ion-label>
        </ion-item>
    </ion-item-group>
    <ion-item-group>
        <ion-label>
            Organization's Requests:
        </ion-label>
        <ion-item>
            <ion-virtual-scroll *ngIf="organizationRequests?.length > 0" [items]="organizationRequests">
                <ion-item (click)="openOffer(item)" *virtualItem="let item;">
                    <ion-label>{{item.ownerUsername}}</ion-label>
                </ion-item>
            </ion-virtual-scroll>
            <ion-label *ngIf="!organizationRequests || organizationRequests?.length == 0">Nothing requests</ion-label>
        </ion-item>
    </ion-item-group>
</ion-content>
