<ion-header>
  <ion-toolbar>
    <ion-title>
        <ion-icon routerLink="../../" name="arrow-back-outline"></ion-icon>
        Public Organizations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <ion-virtual-scroll [items]="organizationsInfo" >
        <ion-card *virtualItem="let item;">
            <ion-card-header>
                <ion-img src="https://smaller-pictures.appspot.com/images/dreamstime_xxl_65780868_small.jpg"></ion-img>
            </ion-card-header>
            <ion-card-content>
                <ion-item-group>
                    <ion-item>
                        <ion-label>Organization Name: {{item?.name}}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Owner Username: {{item?.ownerUsername}}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Organization Type: {{item?.type}}</ion-label>
                    </ion-item>
                    <ion-item *ngIf="!item.subscribe" (click)="approveDenyJoinAlert(item.id)" slot="end">
                        <ion-label>
                            <a>Create Request To Organization</a>
                        </ion-label>
                    </ion-item>
                    <ion-item *ngIf="item.subscribe" slot="end">
                        <ion-label>
                            <a>You in this organization now</a>
                        </ion-label>
                    </ion-item>
                </ion-item-group>
            </ion-card-content>
        </ion-card>
    </ion-virtual-scroll>
    <ion-item *ngIf="!organizationsInfo || organizationsInfo.length === 0">
        <ion-label >
            Nothing
        </ion-label>
    </ion-item>
</ion-content>
