ion-header {
  --ion-toolbar-background: #1F2933;
  --ion-text-color: #C5C6C7;
}

ion-content {
  --background: #1F2933;
  --color: #C5C6C7;

  ion-virtual-scroll>.virtual-item {
    --background: #1F2933;
    --border-color: #66FCF1;
    --color: #66FCF1;
    text-align: center;
  }
  ion-item {
    --background: #1F2933;
    --border-color: #66FCF1;
    --color: #66FCF1;
    text-align: center;
  }
}

.item .sc-ion-label-md-h {
  --color: azure;
}
