<ion-content>
    <div class="ion-page" id="main-content">
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-title>FanDocker</ion-title>
            </ion-toolbar>
        </ion-header>
    </div>
    <ion-menu side="start" content-id="main-content">
        <ion-header>
            <ion-toolbar>
                <ion-title>
                    <a routerLink="/profile">
                        <ion-chip>
                            <ion-avatar>
                                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                            </ion-avatar>
                            <ion-label>Chip Avatar</ion-label>
                        </ion-chip>
                    </a>
                </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item routerLink="/organizations">
                    <ion-icon name="briefcase-outline" slot="start"></ion-icon>
                    <ion-label>
                        Organizations
                    </ion-label>
                </ion-item>
                <ion-item routerLink="/documents">
                    <ion-icon name="document-text-outline" slot="start"></ion-icon>
                    <ion-label>
                        Documents
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
</ion-content>
