ion-header {
  --ion-toolbar-background: #1F2933;
  --ion-text-color: #C5C6C7;
}


ion-content {
  --background: #1F2933;
  --color: #C5C6C7;

  ion-button {
    --border-color: #66FCF1;
    --color: #66FCF1;
  }

  ion-item-group {
    width: 100%;

    ion-label {
      color: -webkit-link;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
