ion-content {
  --background: #1F2933;
  --color: #C5C6C7;

  .custom-file-upload {
    border: 1px solid #1F2933;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }

  input[type="file"] {
    display: none;
  }

  ion-item-group {
    width: 100%;

    ion-label {
      color: -webkit-link;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
