<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <progress-bar *ngIf="uploadInProgress" [progress]="progress" [color]="'#488aff'">
    </progress-bar>
    <ion-item>
        <label for="file-upload" class="custom-file-upload">
            Custom Upload
        </label>
        <input id="file-upload" (change)="selectFile($event)" type="file"/>
        <ion-button fill="outline" size="large" class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
            Upload
        </ion-button>
    </ion-item>

    <ion-slides *ngIf="filesInfo" pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let info of documentsInfo">
            <ion-item-group>
                <ion-item>
                    {{info.header}}
                </ion-item>
                <ion-item>
                    <ion-virtual-scroll [items]="filesInfo[info.documentsName]">
                        <ion-item (click)="presentDocumentModal(item.id, item.documentState)" *virtualItem="let item;">
                            <ion-label>{{item.name}}</ion-label>
                        </ion-item>
                    </ion-virtual-scroll>
                </ion-item>
            </ion-item-group>
        </ion-slide>
    </ion-slides>
</ion-content>
